openapi: 3.1.0
info:
  title: Azure Networking Azure Load Balancer Backend Address Pools Virtual Network Peerings API
  description: Distribute traffic across multiple virtual machines and services with Azure Load Balancer. This API provides operations for creating, configuring, and managing load balancers including frontend IP configurations, backend address pools, health probes, load balancing rules, inbound NAT rules, and outbound rules.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- OAuth2Auth: []
tags:
- name: Virtual Network Peerings
  description: Operations for creating and managing peering connections between virtual networks.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings
  : get:
      operationId: VirtualNetworkPeerings_List
      summary: Azure Networking List virtual network peerings
      description: Gets all peerings in a virtual network. Returns a paginated list of peering resources for the specified virtual network.
      tags:
      - Virtual Network Peerings
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of peerings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkPeeringListResult'
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings/{virtualNetworkPeeringName}
  : get:
      operationId: VirtualNetworkPeerings_Get
      summary: Azure Networking Get virtual network peering
      description: Gets the specified peering for a virtual network.
      tags:
      - Virtual Network Peerings
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkNameParameter'
      - name: virtualNetworkPeeringName
        in: path
        required: true
        description: The name of the virtual network peering.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the peering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkPeering'
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
        '404':
          description: Peering not found.
    put:
      operationId: VirtualNetworkPeerings_CreateOrUpdate
      summary: Azure Networking Create or update virtual network peering
      description: Creates or updates a peering in the specified virtual network. Peering enables connectivity between two virtual networks.
      tags:
      - Virtual Network Peerings
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkNameParameter'
      - name: virtualNetworkPeeringName
        in: path
        required: true
        description: The name of the virtual network peering.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkPeering'
      responses:
        '200':
          description: Successfully updated the peering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkPeering'
        '201':
          description: Successfully created the peering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkPeering'
        '400':
          description: Bad request. The request body is invalid.
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
    delete:
      operationId: VirtualNetworkPeerings_Delete
      summary: Azure Networking Delete virtual network peering
      description: Deletes the specified peering from a virtual network.
      tags:
      - Virtual Network Peerings
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkNameParameter'
      - name: virtualNetworkPeeringName
        in: path
        required: true
        description: The name of the virtual network peering.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the peering.
        '202':
          description: Accepted. The delete operation is in progress.
        '204':
          description: No content. The peering does not exist.
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
components:
  schemas:
    VirtualNetworkPeering:
      type: object
      description: Peerings in a virtual network resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
        name:
          type: string
          description: The name of the resource.
        properties:
          type: object
          description: Properties of the virtual network peering.
          properties:
            allowVirtualNetworkAccess:
              type: boolean
              description: Whether the VMs in the local virtual network can access the VMs in the remote virtual network.
            allowForwardedTraffic:
              type: boolean
              description: Whether the forwarded traffic from the VMs in the local virtual network will be allowed or disallowed in the remote virtual network.
            allowGatewayTransit:
              type: boolean
              description: If gateway links can be used in remote virtual networking to link to this virtual network.
            useRemoteGateways:
              type: boolean
              description: If remote gateways can be used on this virtual network.
            remoteVirtualNetwork:
              type: object
              description: The reference to the remote virtual network.
              properties:
                id:
                  type: string
                  description: Resource ID.
            peeringState:
              type: string
              readOnly: true
              description: The status of the virtual network peering.
              enum:
              - Initiated
              - Connected
              - Disconnected
            provisioningState:
              type: string
              readOnly: true
              description: The provisioning state of the virtual network peering resource.
    VirtualNetworkPeeringListResult:
      type: object
      description: Response for the ListVirtualNetworkPeerings API service call.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkPeering'
          description: The peerings in a virtual network.
        nextLink:
          type: string
          description: The URL to get the next set of results.
  parameters:
    VirtualNetworkNameParameter:
      name: virtualNetworkName
      in: path
      required: true
      description: The name of the virtual network.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft Azure subscription.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2024-05-01'
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Access Azure Load Balancer API
externalDocs:
  description: Azure Load Balancer REST API Documentation
  url: https://learn.microsoft.com/en-us/rest/api/load-balancer/
